nav {
  text-decoration: none;
  background-color: rgb(7, 7, 92);
  height: 40px;
  font-size: large;
  padding: 10px;
}
nav:hover {
  background-color: rgb(180, 6, 6);
  color: rgb(255, 255, 255);
}
nav ul {
  justify-content: space-around;
  display: flex;
}
nav ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(180, 6, 6);
  display: flex;
  position: relative;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 130px;
}
h1:hover {
  color: rgb(7, 7, 92);
  transform: scale(1.9);
}

a {
  text-decoration: none;
}

img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  display: inline-block;
}
img:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head {
  display: block;
  text-align: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}

body {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 7, 92);
  text-align: center;
  text-transform: uppercase;
  font-family: "raleway";
  display: block;
}

footer {
  background-color: rgb(7, 7, 92);
  color: rgb(255, 255, 255);
  background-size: auto;
}

h2 {
  color: rgb(7, 7, 92);
}

h3 {
  color: rgb(7, 7, 92);
}

.proposito {
  display: grid;
  grid-template-rows: 80px 60px;
  color: rgb(7, 7, 92);
}

.nfl {
  display: flex;
  position: absolute;
  height: 100px;
  width: 100px;
}

.precio {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: xx-large;
  color: rgb(0, 0, 0);
}

.fotocatalogo {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.finindex {
  display: grid;
  grid-template-rows: 70px 50px;
}

.pagoinicio {
  display: grid;
  grid-template-rows: 70px 50px;
  position: relative;
  top: 40px;
}

.enviosinicio {
  display: grid;
  grid-template-rows: 70px 50px;
  position: relative;
  top: 40px;
}

.catalogointerno {
  display: grid;
  justify-content: center;
}

.preciosindiv {
  display: grid;
}

.iconos {
  max-width: 30px;
  max-height: 30px;
}

div img {
  width: 80%;
  height: 80%;
}
div img:hover {
  transform: none;
}

#contenedorcarru {
  height: 450px;
  overflow: hidden;
}
#contenedorcarru div.carru {
  height: 100%;
  position: relative;
}
#contenedorcarru div.carru div.fotoscarru {
  height: 100%;
  position: relative;
}
#contenedorcarru div.carru div.flechascarru {
  height: 100%;
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 45px;
}

@media only screen and (max-width: 600px) {
  h1 {
    display: block;
  }
  .navini {
    width: 600px;
    font-size: 45%;
    text-wrap: nowrap;
    justify-content: space-between;
    max-width: 95%;
  }
  .nomobile {
    display: none;
  }
  body {
    text-align: center;
    max-width: 95%;
    font-size: 70%;
  }
  .proposito {
    text-align: center;
    font-size: 70%;
    max-width: 95%;
  }
  img {
    max-width: 40%;
  }
  .nfl {
    max-width: 20%;
  }
  .pagoinicio {
    text-align: center;
    font-size: 100%;
    max-width: 95%;
  }
  .enviosinicio {
    text-align: center;
    font-size: 100%;
    max-width: 95%;
  }
  .mapa {
    display: none;
  }
  .finindex {
    text-align: center;
    font-size: 70%;
    max-width: 95%;
  }
  footer {
    text-align: center;
    font-size: 70%;
    max-width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
