/*selector - propiedad - valor*/
* {
	margin: 0;
	padding: 0;
}
/*ESTILO DE TODOS MIS h1*/
h1 {
	color: rgb(180, 6, 6);
	font-size: xx-large;
    font-weight: 10000;
    display: flex;
    position: relative;
    left: 150px;
}

h1:hover{
    color: rgb(7, 7, 92);
    transform: scale(2);

}
/*SUBTITULOS, CATEGORIAS*/

/*ESTILO DE TODOS MIS h2*/
h2 {
	color: rgb(7, 7, 92);
}
h2:hover{
    transform: scale(1.2);
}
/*ESTILO DE TODOS MIS h3*/
h3 {
	color: rgb(7, 7, 92);
}
/*tamanio de imagenes*/
img {
	width: 300px;
	height: 200px;
	object-fit: contain;
	display: inline-block;
}
/*orden del header*/
head {
	display: block;
	text-align: center;
	align-items: center;
	text-decoration: none;
	flex-direction: column;
}
/*orden y colores del body*/
body {
	text-decoration: none;
	background-color: rgb(245, 245, 245);
	color: rgb(7, 7, 92);
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway';
	display: block;
	/*id se identifica con hastag -  se usa poco, solo la CLASS*/
	/*class se identifica con punto y se puede poner varias clases en el mismo valor*/
}

/*footer, orden y colores*/

footer {
	background-color: rgb(7, 7, 92);
	color: rgb(255, 255, 255);
	background-size: auto;
}
nav {
	text-decoration: none;
	background-color: rgb(7, 7, 92);
	height: 25px;
	font-size: large;
    
}
nav:hover{
    background-color:rgb(180, 6, 6);
  color: rgb(255, 255, 255);
}
/*estilo seccion INDEX proposito del emprendimiento*/
.proposito{
    display: grid;
    grid-template-rows: 80px 60px;
    
}
/*links*/
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
p {
	font-weight: 600;
}
/*nav top*/
ul {
	justify-content: space-around;
	display: flex;
}
/*ubicacion logo principal y nombre*/
.logoinicio {
	display: inline-block;
	position: relative;
	right: 300px;
}
.logoinicio:hover{
    transform: scale(1.1);
}
.nombreinicio {
	display: inline-block;
	position: relative;
	bottom: 75px;
	right: 160px;
}
.casco{
    display: flex;
    float: right;
}
.casco:hover{
    transform: scale(1.1);
}
/*seccion catalogo*/ 
.precio {
	display: flex;
	justify-content: center;
	justify-content: space-around;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}
.fotocatalogo {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

/*grilla fin de pagina principal*/
.finindex {
    display: grid;
    grid-template-rows: 70px 50px;
}   

.imgcata:hover{
    transform: scale(1.5);

}
